body {
 color: #fff;
 background-color: #202020;
}

#web {
text-align: right;
}
#web{
font-family: 'Roboto', sans-serif;
}

#setd{
font-family: 'Caveat', cursive;
}

#static {
text-align: right;a
}

#web { color: #FF8C00;}
#static { color: #00FA9A;}
