body {
 color: #fff;
 background-color: #202020;
}

#web {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 100px;
}
#web{
font-family: 'Roboto', sans-serif;
}

#setd{
font-family: 'Caveat', cursive;
}

#gen { border-bottom: 3px double; }

#static {
text-align: right;a
}

#web { color: #FF8C00;}
#static { color: #00FA9A;}
